{% macro input_field(name, type='text', label='', value='', placeholder='', required='false', class='') %}

    <div class="input-group mb-3">
        {% if label %}
            <span class="input-group-text" id="inputGroup-sizing-default"> {{ label }} </span>
        {% endif %}
        {% if type == "money" %}
            <input name="{{ name }}" type="number" min="0.01" step="0.01" class="form-control {{ class }}"
                   value="{{ value|int/100 }}" placeholder="{{ placeholder }}" required="{{ required }}">
        {% else %}
            <input name="{{ name }}" type="{{ type }}" class="form-control {{ class }}" value="{{ value }}"
                   placeholder="{{ placeholder }}" required="{{ required }}">
        {% endif %}
    </div>

{% endmacro %}
