{% macro input_field(name, type='text', label='', value='', placeholder='', required='False', class='') %}

    <div class="input-group mb-3">
        {% if label %}
            <span class="input-group-text" id="inputGroup-sizing-default"> {{ label }} </span>
        {% endif %}
        {% if type == "money" %}
            <input name="{{ name }}" type="number" min="0.00" step="0.01" class="form-control {{ class }}"
                   value="{{ "{:.2f}".format(value|int/100) if value else '' }}" placeholder="0,00" {{ "required" if required else ""  }}>
        {% elif type == "tel" %}
            <input name="{{ name }}" type="tel" class="form-control {{ class }}"
                   value="{{ value | phone_format if value else "" }}" placeholder="(00)0000-0000" {{ "required" if required else ""  }}>
        {% else %}
            <input name="{{ name }}" type="{{ type }}" class="form-control {{ class }}" value="{{ value }}"
                   placeholder="{{ placeholder }}" {{ "required" if required else ""  }}>
        {% endif %}
    </div>

{% endmacro %}
