{% extends 'base.html' %} {% import "_form_macros.html" as form %}
{% block content %}


    <div class="container border border-1">
        <h1>Lançamento Caixa/Banco</h1>
    {% if movimento %}
        <hr/>
        <p class="d-flex justify-content-between mb-3">
            <span>N֯° Doc.:{{ movimento.n_doc }}</span><span>Honorário: {{ honorario }}</span>
            <span>Taxa de Serviço Diersos: {{ taxa_servico }}</span>
        </p>
    {% endif %}
        <div class="border border-1">

            {% block forms %} {% endblock %}
        {% if movimento %}
            <p>Total de taxas:</p>
        {% endif %}
        </div>
    </div>



{% endblock %}
