{% extends "base.html" %}

{% block content %}

{% if cliente %}
    
    <form class="container" method="post" action="{{url_for('clientes_atualiza')}}">
    <div class="input-group mb-3"  style="display: none;">
        <span class="input-group-text" id="inputGroup-sizing-default">Id interno do cliente</span>
        <input name="id" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" value="{{cliente['id']}}">
    </div>
{% else %}
    <form class="container" method="post" action="{{url_for('clientes_cadastro')}}">
{% endif %}




    <hr>
    <h3>Dados principais</h3>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
        <input name="nome" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" value="{{cliente.nome_cliente if cliente else ""}}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nome da propriedade</span>
        <input name="npropriedade" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" value="{{cliente.nome_propriedade if cliente else ""}}">
    </div>

    <hr>
    <h3>Endereço</h3>


    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Endereço</span>
        <input name="endereco" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" value="{{cliente['endereco'] if cliente else ""}}">
    </div>
    <div class="input-group mb-3">

        <span class="input-group-text" id="inputGroup-sizing-default">Número:</span>
        <input name="numero" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" value="{{cliente['numero'] if cliente else ""}}">



        <span class="input-group-text" id="inputGroup-sizing-default">Bairro:</span>
        <input name="bairro" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" value="{{cliente['bairro'] if cliente else ""}}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Cidade</span>
        <input name="cidade" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" value="{{cliente['cidade'] if cliente else ""}}">
        <label class="input-group-text" id="inputGroup-sizing-default">Estado:</label>


        {%
        set ufs = {
        'AC': 'Acre',
        'AL': 'Alagoas',
        'AP': 'Amapá',
        'AM': 'Amazonas',
        'BA': 'Bahia',
        'CE': 'Ceará',
        'DF': 'Distrito Federal',
        'ES': 'Espírito Santo',
        'GO': 'Goiás',
        'MA': 'Maranhão',
        'MT': 'Mato Grosso',
        'MS': 'Mato Grosso do Sul',
        'MG': 'Minas Gerais',
        'PA': 'Pará',
        'PB': 'Paraíba',
        'PR': 'Paraná',
        'PE': 'Pernambuco',
        'PI': 'Piauí',
        'RJ': 'Rio de Janeiro',
        'RN': 'Rio Grande do Norte',
        'RS': 'Rio Grande do Sul',
        'RO': 'Rondônia',
        'RR': 'Roraima',
        'SC': 'Santa Catarina',
        'SP': 'São Paulo',
        'SE': 'Sergipe',
        'TO': 'Tocantins'
        }
        %}

        {% if cliente %}
        <select class="form-select" id="selectUf" name="uf" required>
            {% for uf_sigla, uf_nome in ufs.items() %}
                {% if uf_sigla == cliente['uf'] %}
                <option selected value="{{ uf_sigla }}">{{ uf_nome }}</option>
                {% else %}
                <option value="{{ uf_sigla }}">{{ uf_nome }}</option>
                {% endif %}
            {% endfor %}
        {% else %}
        <select class="form-select" id="selectUf" name="uf" required>
            <option selected disabled value="">Selecione um estado...</option>
            {% for uf_sigla, uf_nome in ufs.items() %}
                <option value="{{ uf_sigla }}">{{ uf_nome }}</option>
            {% endfor %}
        {% endif %} 
        
        


        </select>
    </div>
    <hr>
    <h3>Dados Fiscais</h3>
    <div class="input-group mb-3">
        <label class="input-group-text" id="inputGroup-sizing-default">Tipo Pessoa:</label>

        {% if cliente %}
            {% if cliente.tipo_pessoa == 'F' %}
            <select class="form-select" id="selectPessoa" name="tipopessoa" required>
                <option selected value="F">Física</option>
                <option value="J">Jurídica</option>
            </select>
            {% else %}
            <select class="form-select" id="selectPessoa" name="tipopessoa" required>
                <option value="F">Física</option>
                <option selected value="J">Jurídica</option>
            </select>

            {% endif %}
        {% else %}
        <select class="form-select" id="selectPessoa" name="tipopessoa" required>
            <option selected disabled value="">Selecione um tipo...</option>
            <option value="F">Física</option>
            <option value="J">Jurídica</option>

        </select>
        {% endif %}
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">CPF/CNPJ</span>
        <input name="cpfcnpj"  type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" value="{{cliente.cpf_cnpj if cliente else ""}}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Inscrição Estadual</span>
        <input name="iestadual" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" value="{{cliente.inscricao_estadual if cliente else ""}}">
    </div>

    <hr>
    <h3>Contato</h3>
    <div class="input-group mb-3">
        <span class="input-group-text telefone" id="inputGroup-sizing-default">Telefone</span>
        <input name="fone" type="tel" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" value="{{cliente.telefone if cliente else ""}}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text celular" id="inputGroup-sizing-default">Celular</span>
        <input name="celular" type="tel" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" value="{{cliente.celular if cliente else ""}}">
    </div>
    <hr>
    <h3>Financeiro e Outros</h3>
    <div class="input-group mb-3">
        <span class="input-group-text celular" id="inputGroup-sizing-default">Valor do Honorário</span>
        <input name="valorhonorario" type="number" step="0.01" min="0" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{cliente.valor_honorario if cliente else ""}}">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Observações</label>
        <textarea name="observacoes" class="form-control" id="exampleFormControlTextarea1" rows="3">{{cliente.observacoes.strip() if cliente else ""}}</textarea>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="/clientes-cadastro"><button type="button" class="btn btn-danger">Limpar</button></a>
</form>




{% endblock %}