{% extends "base.html" %}
{% import "_form_macros.html" as form %}

{% block content %}

    {% if cliente %}

        <form class="container" method="post" action="{{ url_for('cliente_bp.clientes_atualiza') }}">
        <div class="input-group mb-3" style="display: none;">
            <span class="input-group-text" id="inputGroup-sizing-default">Id interno do cliente</span>
            <input name="id" type="text" class="form-control" value="{{ cliente.id }}">
        </div>
    {% else %}
        <form class="container" method="post" action="{{ url_for('cliente_bp.clientes_cadastro') }}">
    {% endif %}




<hr>
<h3>Dados principais</h3>
{{ form.input_field(name="nome", type='text', label='Nome', value=cliente.nome_cliente if cliente else '' , placeholder='', required='false', class='') }}

{{ form.input_field(name="npropriedade", type='text', label='Nome da propriedade', value=cliente.nome_propriedade if cliente else '' , placeholder='', required='false', class='') }}
<hr>
<h3>Endereço</h3>

{{ form.input_field(name="endereco", type='text', label='Endereço', value=cliente.endereco if cliente else "" , placeholder='', required='false', class='') }}
<div class="input-group mb-3">

    {{ form.input_field(name="numero", type='text', label='Número', value=cliente.numero if cliente else "" , placeholder='', required='false', class='') }}

    {{ form.input_field(name="bairro", type='text', label='Bairro', value=cliente.bairro if cliente else "" , placeholder='', required='false', class='') }}

    <div class="input-group mb-3">
        {{ form.input_field(name="cidade", type='text', label='Cidade', value=cliente.cidade if cliente else "" , placeholder='', required='false', class='') }}
        <label class="input-group-text" id="inputGroup-sizing-default">Estado:</label>


        {% set ufs = {
        'AC': 'Acre',
        'AL': 'Alagoas',
        'AP': 'Amapá',
        'AM': 'Amazonas',
        'BA': 'Bahia',
        'CE': 'Ceará',
        'DF': 'Distrito Federal',
        'ES': 'Espírito Santo',
        'GO': 'Goiás',
        'MA': 'Maranhão',
        'MT': 'Mato Grosso',
        'MS': 'Mato Grosso do Sul',
        'MG': 'Minas Gerais',
        'PA': 'Pará',
        'PB': 'Paraíba',
        'PR': 'Paraná',
        'PE': 'Pernambuco',
        'PI': 'Piauí',
        'RJ': 'Rio de Janeiro',
        'RN': 'Rio Grande do Norte',
        'RS': 'Rio Grande do Sul',
        'RO': 'Rondônia',
        'RR': 'Roraima',
        'SC': 'Santa Catarina',
        'SP': 'São Paulo',
        'SE': 'Sergipe',
        'TO': 'Tocantins'
        } %}

        {% if cliente %}
            <select class="form-select" id="selectUf" name="uf" required>
            {% for uf_sigla, uf_nome in ufs.items() %}
                {% if uf_sigla == cliente['uf'] %}
                    <option selected value="{{ uf_sigla }}">{{ uf_nome }}</option>
                {% else %}
                    <option value="{{ uf_sigla }}">{{ uf_nome }}</option>
                {% endif %}
            {% endfor %}
        {% else %}
            <select class="form-select" id="selectUf" name="uf" required>
            <option selected disabled value="">Selecione um estado...</option>
            {% for uf_sigla, uf_nome in ufs.items() %}
                <option value="{{ uf_sigla }}">{{ uf_nome }}</option>
            {% endfor %}
        {% endif %}




        </select>
    </div>
    <hr>
    <h3>Dados Fiscais</h3>
    <div class="input-group mb-3">
        <label class="input-group-text" id="inputGroup-sizing-default">Tipo Pessoa:</label>

        {% if cliente %}
            {% if cliente.tipo_pessoa == 'F' %}
                <select class="form-select" id="selectPessoa" name="tipopessoa" required>
                    <option selected value="F">Física</option>
                    <option value="J">Jurídica</option>
                </select>
            {% else %}
                <select class="form-select" id="selectPessoa" name="tipopessoa" required>
                    <option value="F">Física</option>
                    <option selected value="J">Jurídica</option>
                </select>

            {% endif %}
        {% else %}
            <select class="form-select" id="selectPessoa" name="tipopessoa" required>
                <option selected disabled value="">Selecione um tipo...</option>
                <option value="F">Física</option>
                <option value="J">Jurídica</option>

            </select>
        {% endif %}
    </div>

    {{ form.input_field(name="cpfcnpj", type='text', label='CPF/CNPJ', value=cliente.cpfcnpj if cliente else "" , placeholder='', required='false', class='') }}

    {{ form.input_field(name="iestadual", type='text', label='Inscrição Estadual', value=cliente.iestadual if cliente else "" , placeholder='', required='false', class='') }}

    <hr>
    <h3>Contato</h3>

    {{ form.input_field(name="fone", type='tel', label='Telefone', value=cliente.fone if cliente else "" , placeholder='', required='false', class='') }}

    {{ form.input_field(name="celuLar", type='tel', label='Celular', value=cliente.numero if cliente else "" , placeholder='', required='false', class='') }}
    <hr>
    <h3>Financeiro e Outros</h3>
    <div class="input-group mb-3">
        <span class="input-group-text celular" id="inputGroup-sizing-default">Valor do Honorário</span>
        <input name="valorhonorario" type="number" step="0.01" min="0" class="form-control"
               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
               value="{{ cliente.valor_honorario if cliente else "" }}">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Observações</label>
        <textarea name="observacoes" class="form-control" id="exampleFormControlTextarea1"
                  rows="10">{{ cliente.observacoes.strip() if cliente else "" }}</textarea>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="/clientes-cadastro">
            <button type="button" class="btn btn-danger">Limpar</button>
        </a>
    </div>


</form>




{% endblock %}