{% extends "base.html" %}

{% block content %}


<div class="container">
    <ul class="list-group">

        {% for cliente in clientes %}
        <hr>
        <p>{{ cliente }}</p>
        <li id="cliente--{{cliente.id}}" style="text-align: justify"> Nome: {{cliente.nome_cliente}} - CPF/CNPJ: {{
            cliente.cpf_cnpj }}
            <a href="{{url_for('cliente_bp.clientes_cadastro', id=cliente.id)}}">
                <button class="btn btn-primary" type="button">Editar</button>
            </a>
            <button class="btn btn-danger" data-bs-target="#modalApagar" data-bs-toggle="modal" type="button">Apagar
            </button>
            <div aria-hidden="true" aria-labelledby="modalApagarLabel" class="modal fade" id="modalApagar"
                 tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalApagarLabel">Tem certeza?</h1>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">
                            Você quer mesmo apagar?
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-dismiss="modal" type="button">Voltar</button>
                            <a href="{{url_for('cliente_bp.cliente_apagar', id=cliente.id)}}">
                                <button class="btn btn-danger" type="button">Apagar</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        {% endfor %}

    </ul>

    <hr style="height: 60px">

    <nav aria-label="Navegação das páginas">
        <ul class="pagination justify-content-center">

            <!-- Botão "Anterior" -->
            <li class="page-item {% if pagina_atual == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('cliente_bp.clientes_lista', page=pagina_atual-1) }}">Anterior</a>
            </li>

            <!-- Links para cada página -->
            {% for p in range(1, total_paginas + 1) %}
            <li class="page-item {% if p == pagina_atual %}active{% endif %}">
                <a class="page-link" href="{{ url_for('cliente_bp.clientes_lista', page=p) }}">{{ p }}</a>
            </li>
            {% endfor %}

            <!-- Botão "Próximo" -->
            <li class="page-item {% if pagina_atual == total_paginas %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('cliente_bp.clientes_lista', page=pagina_atual+1) }}">Próximo</a>
            </li>

        </ul>
    </nav>
    <hr style="height: 60px">
</div>


{% endblock %}