{% extends 'base.html' %}
{% import "_form_macros.html" as form %}

{% block content %}

<div class="container border border-1">
    <h1>Lançamento Caixa/Banco</h1>
    <hr>
    <p class="d-flex justify-content-between mb-3"><span>N֯° Doc.:000100</span><span>Crédito:
            1000000,00</span><span>Saldo Atual: 10000000,00</span></p>
    <div class="border border-1">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-tab" data-bs-toggle="tab" data-bs-target="#nav-movimento" type="button" role="tab" aria-controls="nav-movimento" >Movimento</button>
                <button class="nav-link" id="nav-agenfa-tab" data-bs-toggle="tab" data-bs-target="#nav-agenfa" type="button" role="tab" aria-controls="nav-agenfa" aria-selected="false">AGENFA</button>
                <button class="nav-link" id="nav-iagro-tab" data-bs-toggle="tab" data-bs-target="#nav-iagro" type="button" role="tab" aria-controls="nav-iagro" aria-selected="false">IAGRO</button>
                <button class="nav-link" id="nav-pagamento-tab" data-bs-toggle="tab" data-bs-target="#nav-pagamentos" type="button" role="tab" aria-controls="nav-pagamentos" aria-selected="false">Pagamentos</button>
                <button class="nav-link" id="nav-outros-tab" data-bs-toggle="tab" data-bs-target="#nav-outros" type="button" role="tab" aria-controls="nav-outros" aria-selected="false">Outros Serviços</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-movimento" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0"> 
                <h3>Movimento</h3>
                <div class="row">
                    <div class="col">
                        {{ form.input_field(name="data_lancamento", type='date', label='Data de lançamento', value=lancamento.data_lancamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="n_documento", type='number', label='Número do Documento', value=lancamento.n_documento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.input_field(name="hist_lancamento", type='text', label='Histórico de Lançamento', value=lancamento.hist_lancamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.input_field(name="credito_deposito", type='number', label='Crédito/Depósito R$:', value=lancamento.credito_deposito if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="debito_saque", type='number', label='Débito/Saque R$:', value=lancamento.debito_saque if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.input_field(name="deposito_bloqueado", type='number', label='Depósito bloqueado R$:', value=lancamento.deposito_bloqueado if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="taxa_servico_mensal", type='number', label='Taxa de serviços mensais R$:', value=lancamento.taxa_servico_mensal if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.input_field(name="tx_servicos_diversos", type='number', label='Taxa de Serviços Diversos R$:', value=lancamento.tx_servicos_diversos if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                </div>
                
            </div>
            <div class="tab-pane fade" id="nav-agenfa" role="tabpanel" aria-labelledby="nav-agenfa-tab" tabindex="0">
                <div class="row">
                    <div class="col">
                        {{ form.input_field(name="agenfa_data_pagamento", type='date', label='Data de pagamento', value=lancamento.agenfa_data_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="agenfa_n_cheque", type='number', label='N° do Cheque', value=lancamento.agenfa_data_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="agenfa_descricao_pagamento", type='text', label='Descrição do pgto', value=lancamento.agenfa_descricao_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="agenfa_valor_pagamento", type='number', label='Valor Pgto', value=lancamento.agenfa_valor_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    
                </div>
                <div class="col"><button type="button" class="btn btn-success">Adicionar</button></div>
                <hr>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Data Pgto</th>
                                <th scope="col">N° Cheque</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr scope="row">
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Total de taxas: </p>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-iagro" role="tabpanel" aria-labelledby="nav-iagro-tab" tabindex="0">
                <div class="row">
                    <div class="col">
                        {{ form.input_field(name="iagro_data_pagamento", type='date', label='Data de pagamento', value=lancamento.iagro_data_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="iagro_n_cheque", type='number', label='N° do Cheque', value=lancamento.iagro_data_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="iagro_descricao_pagamento", type='text', label='Descrição do pgto', value=lancamento.iagro_descricao_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="iagro_valor_pagamento", type='number', label='Valor Pgto', value=iagro.iagro_valor_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    
                </div>
                <div class="col"><button type="button" class="btn btn-success">Adicionar</button></div>
                <hr>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Data Pgto</th>
                                <th scope="col">N° Cheque</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr scope="row">
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Total de taxas: </p>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-pagamentos" role="tabpanel" aria-labelledby="nav-pagamentos-tab" tabindex="0">
                <div class="row">
                    <div class="col">
                        {{ form.input_field(name="pagamentos_data_pagamento", type='date', label='Data de pagamento', value=lancamento.pagamentos_data_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="pagamentos_n_cheque", type='number', label='N° do Cheque', value=lancamento.pagamentos_data_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="pagamentos_descricao_pagamento", type='text', label='Descrição do pgto', value=lancamento.pagamentos_descricao_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="pagamentos_valor_pagamento", type='number', label='Valor Pgto', value=lancamento.pagamentos_valor_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    
                </div>
                <div class="col"><button type="button" class="btn btn-success">Adicionar</button></div>
                <hr>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Data Pgto</th>
                                <th scope="col">N° Cheque</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr scope="row">
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Total de taxas: </p>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-outros" role="tabpanel" aria-labelledby="nav-outros-tab" tabindex="0">
                <div class="row">
                    <div class="col">
                        {{ form.input_field(name="outros_data_pagamento", type='date', label='Data de pagamento', value=lancamento.outros_data_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="outros_n_cheque", type='number', label='N° do Cheque', value=lancamento.outros_data_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="outros_descricao_pagamento", type='text', label='Descrição do pgto', value=lancamento.outros_descricao_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    <div class="col">
                        {{ form.input_field(name="outros_valor_pagamento", type='number', label='Valor Pgto', value=lancamento.outros_valor_pagamento if lancamento else '' , placeholder='', required='false', class='') }}
                    </div>
                    
                </div>
                <div class="col"><button type="button" class="btn btn-success">Adicionar</button></div>
                <hr>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Data Pgto</th>
                                <th scope="col">N° Cheque</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr scope="row">
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                                <td>teste</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Total de taxas: </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}