{% extends 'base.html' %}
{% import "_form_macros.html" as form %}

{% block content %}

<div class="container border border-1">
    <h1>Lançamento Caixa/Banco</h1>
    <hr>
    <p class="d-flex justify-content-between mb-3"><span>N֯° Doc.:000100</span><span>Crédito:
            1000000,00</span><span>Saldo Atual: 10000000,00</span></p>
    <div class="border border-1">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-tab" data-bs-toggle="tab" data-bs-target="#nav-movimento" type="button" role="tab" aria-controls="nav-movimento" >Movimento</button>
                <button class="nav-link" id="nav-agenfa-tab" data-bs-toggle="tab" data-bs-target="#nav-agenfa" type="button" role="tab" aria-controls="nav-agenfa" aria-selected="false">AGENFA</button>
                <button class="nav-link" id="nav-iagro-tab" data-bs-toggle="tab" data-bs-target="#nav-iagro" type="button" role="tab" aria-controls="nav-iagro" aria-selected="false">IAGRO</button>
                <button class="nav-link" id="nav-pagamento-tab" data-bs-toggle="tab" data-bs-target="#nav-pagamentos" type="button" role="tab" aria-controls="nav-pagamentos" aria-selected="false">Pagamentos</button>
                <button class="nav-link" id="nav-outros-tab" data-bs-toggle="tab" data-bs-target="#nav-outros" type="button" role="tab" aria-controls="nav-outros" aria-selected="false">Outros Serviços</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-movimento" role="tabpanel" aria-labelledby="nav-home-tab"
                tabindex="0"> 
                Movimento 
            </div>
            <div class="tab-pane fade" id="nav-agenfa" role="tabpanel" aria-labelledby="nav-agenfa-tab" tabindex="0">
                turuf
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
        </div>
    </div>
</div>

{% endblock%}