{% extends "base.html" %}  {% import "_form_macros.html" as form %}

{% block content %}



    <form class="form-control noprint" method="Get" action="{{ url_for('relatorios.relatorios_geral') }}">
        <div class="row input-group">
            <div class="col-md-2">
                {{ form.input_field(name="data_inicio",
                            type='date', label='Início:', placeholder='', required=False,
                            class='') }}
            </div>
            <div class="col-md-2">
                {{ form.input_field(name="data_fim",
                            type='date', label='Fim:', placeholder='', required=False,
                            class='') }}
            </div>
            
            <div class="col-md-3">
                <input type="text" class="form-control" id="busca" name="busca" aria-describedby="Busca">
            </div>
            <div class="col-md-1">
                <button class="btn  btn-primary" type="submit" >Buscar</button>
            </div>
            <div class="col-md-1">
                <a href="{{ url_for('relatorios.relatorios_geral') }}"><div class="btn  btn-info">Limpar</div></a>
            </div>
            <div class="col-md-1">
                <button class="btn btn-secondary" onclick="window.print()">Imprimir</button>
            </div>

        </div>
    </form>

    {% if erro %}
        <h2>A data utilizada não é válida</h2>
    {% endif %}

    <h1>Resumo Geral</h1>
    <table class="table to_print">
        <thead>
            <tr class="table-primary">
                <th scope="col">Data</th>
                <th scope="col" style="min-width: 200px;">Histórico</th>
                <th scope="col">Crédito</th>
                <th scope="col">Débito</th>
                <th scope="col">Bloqueado</th>
                <th scope="col">Tx Serv Mens</th>
                <th scope="col">Tx Serv Div</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
        {% if id %}
            <tr>
                <td>{{ utils.date_for_front(receitas.data_lancamento) }}</td>
                <td>{{ receitas.historico_lancamento }}</td>
                <td>R$: {{ utils.money_for_front(receitas.credito_deposito) }}</td>
                <td>R$: {{ utils.money_for_front(receitas.debito_saque) }}</td>
                <td>R$: {{ utils.money_for_front(receitas.deposito_bloqueado) }}</td>
                <td>R$: {{ utils.money_for_front(receitas.taxa_servico_mensal) }}</td>
                <td>R$: {{ utils.money_for_front(receitas.tx_servicos_diversos) }}</td>
            </tr>
            {% if agenfa %}
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th>Tipo</th>
                        <th scope="col">Data Pgt</th>
                        <th scope="col">N° Cheque</th>
                        <th scope="col">Descrição Pagamento</th>
                        <th scope="col">Valor Pagamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in agenfa %}
                    <tr>
                        
                        <td>_AGENFA_</td>
                        <td>{{ i.data_pagamento }}</td>
                        <td>{{ i.n_cheque }}</td>
                        <td>{{ i.descricao_pagamento }}</td>
                        <td>{{ i.valor_pagamento }}</td>
                        
                    </tr>
                    {% endfor %}
            {% endif %}
            {% if iagro %}

                    {% for i in iagro %}
                    <tr>
                        
                        <td>_IAGRO_</td>
                        <td>{{ i.data_pagamento }}</td>
                        <td>{{ i.n_cheque }}</td>
                        <td>{{ i.descricao_pagamento }}</td>
                        <td>{{ i.valor_pagamento }}</td>
                        
                    </tr>
                    {% endfor %}
            {% endif %}
            {% if pagamento %}
                    {% for i in pagamento %}
                    <tr>
                        
                        <td>_Pagamentos_</td>
                        <td>{{ i.data_pagamento }}</td>
                        <td>{{ i.n_cheque }}</td>
                        <td>{{ i.descricao_pagamento }}</td>
                        <td>{{ i.valor_pagamento }}</td>
                        
                    </tr>
                    {% endfor %}

            {% endif %}
            {% if outros %}
                    {% for i in outros %}
                    <tr>
                        
                        <td>_Outros_</td>
                        <td>{{ i.data_pagamento }}</td>
                        <td>{{ i.n_cheque }}</td>
                        <td>{{ i.descricao_pagamento }}</td>
                        <td>{{ i.valor_pagamento }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if depositos %}
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th>_Depósitos_</th>
                        <th scope="col">Data Pgt</th>
                        <th scope="col">N° Cheque</th>
                        <th scope="col">Descrição Depósitos</th>
                        <th scope="col">Valor Pagamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in depositos %}
                    <tr>
                        
                        <td>⠀⠀⠀</td>
                        <td>{{ i.data_pagamento }}</td>
                        <td>{{ i.n_cheque }}</td>
                        <td>{{ i.descricao_pagamento }}</td>
                        <td>{{ i.valor_pagamento }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

        {% else %}
        {% for receita in receitas %}
            <tr>
                <td>{{ utils.date_for_front(receita.data_lancamento) }}</td>
                <td>{{ receita.historico_lancamento }}</td>
                <td>R$: {{ utils.money_for_front(receita.credito_deposito) }}</td>
                <td>R$: {{ utils.money_for_front(receita.debito_saque) }}</td>
                <td>R$: {{ utils.money_for_front(receita.deposito_bloqueado) }}</td>
                <td>R$: {{ utils.money_for_front(receita.taxa_servico_mensal) }}</td>
                <td>R$: {{ utils.money_for_front(receita.tx_servicos_diversos) }}</td>
                <td><a href="{{ url_for('relatorios.relatorios_geral') }}?id={{receita.id}}"><button type="button" class="btn btn-light noprint">Selecionar</button></a></td>
            </tr>
            {% set agenfa = filter(agenfa, id_lancamento=receita.id) %}
            {% if agenfa %}
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th>Tipo</th>
                        <th scope="col">Data Pgt</th>
                        <th scope="col">N° Cheque</th>
                        <th scope="col">Descrição Pagamento</th>
                        <th scope="col">Valor Pagamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in agenfa %}
                    <tr>
                        
                        <td>_AGENFA_</td>
                        <td>{{ i.data_pagamento }}</td>
                        <td>{{ i.n_cheque }}</td>
                        <td>{{ i.descricao_pagamento }}</td>
                        <td>{{ i.valor_pagamento }}</td>
                        
                    </tr>
                    {% endfor %}
            {% endif %}
            {% set iagro = filter(iagro, id_lancamento=receita.id) %}
            {% if iagro %}

                    {% for i in iagro %}
                    <tr>
                        
                        <td>_IAGRO_</td>
                        <td>{{ i.data_pagamento }}</td>
                        <td>{{ i.n_cheque }}</td>
                        <td>{{ i.descricao_pagamento }}</td>
                        <td>{{ i.valor_pagamento }}</td>
                        
                    </tr>
                    {% endfor %}
            {% endif %}
            {% set pagamento = filter(pagamento, id_lancamento=receita.id) %}
            {% if pagamento %}
                    {% for i in pagamento %}
                    <tr>
                        
                        <td>_Pagamentos_</td>
                        <td>{{ i.data_pagamento }}</td>
                        <td>{{ i.n_cheque }}</td>
                        <td>{{ i.descricao_pagamento }}</td>
                        <td>{{ i.valor_pagamento }}</td>
                        
                    </tr>
                    {% endfor %}

            {% endif %}
            {% set outros = filter(outros, id_lancamento=receita.id) %}
            {% if outros %}
                    {% for i in outros %}
                    <tr>
                        
                        <td>_Outros_</td>
                        <td>{{ i.data_pagamento }}</td>
                        <td>{{ i.n_cheque }}</td>
                        <td>{{ i.descricao_pagamento }}</td>
                        <td>{{ i.valor_pagamento }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% set depositos = filter(depositos, id_lancamento=receita.id) %}
            {% if depositos %}
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th>_Depósitos_</th>
                        <th scope="col">Data Pgt</th>
                        <th scope="col">N° Cheque</th>
                        <th scope="col">Descrição Depósitos</th>
                        <th scope="col">Valor Pagamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in depositos %}
                    <tr>
                        
                        <td>⠀⠀⠀</td>
                        <td>{{ i.data_pagamento }}</td>
                        <td>{{ i.n_cheque }}</td>
                        <td>{{ i.descricao_pagamento }}</td>
                        <td>{{ i.valor_pagamento }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}