{% extends "base.html" %}  {% import "_form_macros.html" as form %}

{% block content %}



    <form class="form-control noprint" method="Get" action="{{ url_for('relatorios.relatorios_receitadespesa') }}">
        <div class="row input-group">
            <div class="col-md-3">
                {{ form.input_field(name="data_inicio",
                            type='date', label='Início:', placeholder='', required=False,
                            class='') }}
            </div>
            <div class="col-md-3">
                {{ form.input_field(name="data_fim",
                            type='date', label='Fim:', placeholder='', required=False,
                            class='') }}
            </div>
            <div class="col-md-3">
                <button class="btn  btn-info" type="submit" >Buscar</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-secondary" onclick="window.print()">Imprimir</button>
            </div>

        </div>
    </form>

    {% if erro %}
        <h2>A data utilizada não é válida</h2>
    {% endif %}

    <h1>Relatório de Saldo</h1>
    <table class="table" class="to_print">
        <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Histórico</th>
                <th scope="col">N° Documento</th>
                <th scope="col">Crédito</th>
                <th scope="col">Débito</th>
                <th scope="col">Bloqueado</th>

            </tr>
        </thead>
        <tbody>
        {% for receita in receitas %}
            <tr>
                <td>{{ utils.date_for_front(receita.data_lancamento) }}</td>
                <td>{{ receita.historico_lancamento }}</td>
                <td>{{ receita.n_doc }}</td>
                <td>{{ utils.money_for_front(receita.credito_deposito) }}</td>
                <td>{{ utils.money_for_front(receita.debito_saque) }}</td>
                <td>{{ utils.money_for_front(receita.deposito_bloqueado) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}